/*boxes format*/
.box {
  height: 50px;
  color: turquoise;
  border: 1px solid black;
}
/*two equally sized columns*/
.outer-box {
  display: flex;
  padding: 15px;
  gap: 15px;
}
/*columns*/
.column {
  flex: 1;
  height: 50px;
}
